#container {
    background: black;

}
    

h1 {
    color: rosybrown;
    font-size: 60px;
    position: absolute;
    top: 210px;
    left: 30px;
}

h2 {
    color: antiquewhite;
    font-size: 30px;
    position: absolute;
    top: 310px;
    left: 160px;
   
}

/* BLINDIFY CSS */
.blindify
{
    display: block;
    position: relative;
    left: 450px;
    overflow: hidden;

}

   
.blindify a {
    display: block;
}

.blindify span
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
}

.blindify ul, .blindify li
{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.blindify li
{
    display: none;
    
}

.blindify li.active
{
    display: inline;
  
}
