
body {
       background-image: url("/img/bg.jpg");
  }

#container {
    background: black;

}
    

h1 {
    color: rosybrown;
    font-size: 60px;
    position: absolute;
    top: 210px;
    left: 55px;
    text-transform: uppercase;
}

h2 {
    color: antiquewhite;
    font-size: 30px;
    position: absolute;
    top: 310px;
    left: 185px;
   text-transform: uppercase;
}

/* BLINDIFY CSS */
.blindify
{
    display: block;
    position: relative;
    left: 560px;
    overflow: hidden;

}

   
.blindify a {
    display: block;
}

.blindify span
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
}

.blindify ul, .blindify li
{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.blindify li
{
    display: none;
    
}

.blindify li.active
{
    display: inline;
  
}

/* Layout */
* { box-sizing: border-box; }

section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
    
}


h4 {
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
    color: rosybrown;
}

h3 {
    color: antiquewhite;
    font-size: 23px;
}
p {
    color: aliceblue;
    font-size: 18px;
}

a {
    color: aliceblue;
    text-decoration: none;   
    font-size: 19px;
}

ul {
    list-style: none;
    color: aliceblue
}

li {
     color: aliceblue;
    font-size: 18px;
}
.interests {
    list-style-type:square;
}

.experience {
    list-style-type: square;
}

/* Masonry Styling */
section {
  background: rgba(167, 167, 167, 0.88);
  border: 1px solid #b9abab;
  /* vertical space between */
  margin-bottom: 10px;
  width: 200px;
}

.tall {
  height: 500px;
  width: 300px;
}

.med {
  height: 400px;
    color: antiquewhite;
}

.short {
  height: 200px;
}




/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media screen 
  /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
 
  body {
       background-image: url("/img/bg.jpg");
  }

}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {
  
  body {
       background-image: url("/img/bg.jpg");
  }

}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 
  
  body {
       background-image: url("/img/bg.jpg");
  }
  
}
