/* My Awesome Styling */

/* Global */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

body {
background: url("../img/bgtile.png");
}


/* Header */
header img {
    width: 100px;
}


/* Main Nav */

nav li {
  list-style: none;
  display: inline-block;
}

nav a:link,
nav a:visited {
  background: red;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover,
nav a:active {
  background: blue;
  margin-left: .5em;
}


/* Quote */

blockquote {
    font-family: font-family: 'IM Fell Double Pica', serif;
color: darkmagenta;
font-size: 2em;
text-align: center;
text-shadow: 
    2px 2px 0 blue;
    4px 4px 0 green;
    6px 6px 10 white;
    -4px -4px 4px red;
    
    
}