/*color palette*/
.color-1 {
    background: red;
}

.color-2 {
    background: blue;
}

.color-3 {
    background: white;
}

.color-4 {
    background: black;
}

.color-5 {
    background: red;
}
/*textures and patterns*/

.pattern-1 { 
background: url("http://us.123rf.com/450wm/donatas1205/donatas12051208/donatas1205120800098/14901220-usa-flag-on-wood-texture.jpg?ver=6") no-repeat;
background-size: cover;
}

.pattern-2 {
background: url("../img/flag.jpg") no-repeat;
background-size: contain;
}


/* Images */

.imagery-1 img {
    box-shadow: 5px 5px 0 red,
                10px 10px 0 white,
                15px 15px 0 blue;
}

/*Icon*/

.icon-1 {
border: none;
}

.icon-2 {
background: url("img/iconmonstr-email-2-96.png");
background-size: contain;
}

/*Navigation*/

nav li {
    list-style: none;
    float: left;
}

nav a:link {
    background: pink;
    color: white;
    margin: 0 10px 0 10px;
    padding: 20px 20px 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 2px solid blue;

}

nav a:visited {
    color: purple;
}

nav a:active {
 border: 10px solid red;
     
}

nav a:hover {
    background: white;
    color: red;
    margin-top: 20px;
}

