/*color palette*/
.color-1 {
    background: #D3C4BE;
}

.color-2 {
    background: #C4BDAC;
}

.color-3 {
    background: #EBCFC4;
}

.color-4 {
    background: #999999;
}

/*textures and patterns*/

.pattern-1 { 
background: url("../img/feathers.jpg") no-repeat;
background-size: cover;
}

.pattern-2 {
background: url("../img/paint.jpg") no-repeat;
background-size: cover;
}

.pattern-3 {
background: url("../img/splatter.jpg") no-repeat;
background-size: cover;
}

/* Images */

.imagery-1 img {
    box-shadow: 5px 5px 0 white,
                10px 10px 0 white,
                15px 15px 0 black;

.imagery-2 img {
    box-shadow: 5px 5px 0 white,
                10px 10px 0 white,
                15px 15px 0 black;
    
.imagery-3 img {
    box-shadow: 5px 5px 0 white,
                10px 10px 0 white,
                15px 15px 0 black;
}

/*Icon*/

.icon-1 {
background: url("../img/iconmonstr-coffee-10-240.png") no-repeat;
    background-size: cover;
}

.icon-2 {
background: url("../img/iconmonstr-glasses-15-240.png") no-repeat;
background-size: cover;
}

    .icon-3 {
background: url("../img/iconmonstr-weather-13-240.png") no-repeat;
    background-size: cover;
    }
    

/*Navigation*/

nav li {
    list-style: none;
    float: left;
}

nav a:link {
    background: pink;
    color: white;
    margin: 0 10px 0 10px;
    padding: 20px 20px 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 2px solid white;

}

nav a:visited {
    color: purple;
}

nav a:active {
 border: 10px solid red;
     
}

nav a:hover {
    background: white;
    color: red;
    margin-top: 20px;
}

